.container {
  position: fixed;
  left: 0rem;
  z-index: 9999;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0 0.3rem;
  background: #fafafa;
  border: 0.75px solid #e5e5e5;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;

  align-items: center;
  text-align: center;

  @media (max-width: 500px) {
    height: 60px;
  }

  img {
    align-items: center;
    width: 7rem !important;
  }
}

.headerContent {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
